@font-face {
  font-family: "chomsky";
  src: url("chomsky-webfont.woff2") format("woff2"),
    url("chomsky-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
  
}

a,
a:visited {
  color: rgb(187, 0, 0);
}

/* P5 Canvas */
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0 2rem;
  background-image: url(../img/newsprint.png);
  background-size: 600px 600px;
  overflow: hidden;
  min-width: 320px;
}

h1 {
  margin: 1rem;
  padding: 4rem 0 2.5rem 0;
  font-size: 4rem;
  font-family: chomsky, serif;
  font-weight: 100;
  letter-spacing: -3px;
  min-height: 4rem;
  line-height: 0.25rem;
  position: relative;
}

h1 span {
  letter-spacing: -5px;
}

h1 span.citation {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  letter-spacing: 0px;
  font-size: 0.65rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: rgba(187, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: #000 4px double;
  border-bottom: #000 4px double;
  padding: 1rem 0;
}

#bg {
  width: 100%;
  height: 100%;
  font-family: monospace;
  overflow: hidden;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  text-justify: inter-character;
  column-count: 6;
}

#trump {
  width: 100%;
  height: 100%;
  max-width: 100vh;
  min-width: 320px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  mix-blend-mode: luminosity;
}

.open {
  background-image: url(../img/trump-open.png);
}

.closed {
  background-image: url(../img/trump-closed.png);
}

#banner {
  font-size: 1rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: #000 3px solid;
}

#date,
#deaths,
#price {
  display: block;
  text-transform: uppercase;
  border-top: black 1px solid;
  padding-top: 0.5rem;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#date {
  text-align: center;
}

#deaths,
#info {
  position: absolute;
  left: 0;
  margin-left: 0.25rem;
  text-align: left;
}

#price {
  position: absolute;
  right: 0;
  margin-right: 0.25rem;
  text-align: right;
  z-index: 999;
}

#info {
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.75rem;
  font-weight: 700;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1160px) {
  h2 {
    font-size: 0.8rem;
  }

  #bg {
    font-size: 0.7rem;
  }

  #info {
    line-height: 1rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 0 0.75rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 0.5rem;
  }

  #info {
    width: 100%;
    text-align: center;
    line-height: 0.8rem;
  }

  .hideme {
    display: none;
  }

  #bg {
    column-count: 3;
  }

  #banner {
    font-size: 0.65rem;
    margin-bottom: 1rem;
  }
}
